.card {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-position: center;
  min-height: 200px;
  h1, p {
    color: white;
  }
  h1 {
    font-size: 18px;
  }
  &:hover {
    opacity: 0.5;
  }
}
