<% date = Date.today %>
<% technologies = ["HTML", "ERB", "CSS", "SCSS"]  %>

<div class="container text-center">
  <h1>
    Today is the <%= date %>
  </h1>
</div>

<div class="container text-center">
  <ul class="list-unstyled">
    <% technologies.each do |tech| %>
      <li>Nous utilisons <%= tech %></li>
    <% end %>
  </ul>
</div>

